
/* have the aside for the linkedin logos and have them in the main section*/
/* test out display: block;*/

/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 1px solid black;/* background-color: blue;*/
/*}*/

header{
	background-color: lightgrey;
	line-height: 2.5;
	color: #333;
	margin: 0 auto;
	text-align: center;
	border-style: solid;
	height: 100%;
}


}
main{
	
	background-color: red;
	width: 960px;
	height: 100%;
}
h1 {
	color: #4aaaa5;
	line-height: 2;
	padding-top: 15px;
}
nav{
	position: relative;
	width: 60%;
}
ul{
	display: inline;
}
section{
	display: block;
	width: 70%;
	border-style: solid;
	height: 400px;
	float: left;
}
img{
	float: left;
	position: relative;

}

footer{
	position: fixed;
	background-color: darkgrey;
	margin: 0 auto;
	position: relative;
	border-top: 5px #4aaaa5;
	text-align: center;
	height: 30px;
	bottom: 0;
	color: white;
}

#Name{
	position: relative;
	font-family: 'Georgia', Times, Times New Roman, serif;
	background-color: #4aaaa5;
	width: 125px;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	height: 50%;
	margin-left: 2%;
	color:white;
	font-style: bold;

	
}
.navigationlinks{
	bottom: 0;
	float: right;
}

.about_nav{
	size:33.33%;
	float:left;
}
.portfolio_nav{
	size:33.33%;
	float: left;

}
.contact_nav{
	size: size: 33.33%;
	float: right;

}

.main-body{
	padding: 5px;
}
.about_me{
	width:50%;
	float: left;
	margin-left: 2px;
}
.textbreak{
	height: 16px;
}
.connect_with_me{
	width: 40%;
	float: right;
	height: 55%;
	margin-right: 20px;
	text-align: center;
}
.logos{
 	width: 98%;
 	height: 55%;
 	float: right;
 	display:inline;
 	/*overflow:hidden;*/
 }


 .logo-image-size{
 	max-width: 40px;
 	max-height:height: 40px;
 	display: inline;
 }


.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}


